/* Prevent FOUC */

.no-js .top-bar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }
}

/* Index Overlay */
.container {
    position: relative;
    margin-bottom: 32px;
    /*  width: 50%;*/
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    /*  font-size: 20px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /*    width: 50%;*/
    /*  text-align: center;*/
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

i {
    margin-right: 16px;
}

/* Nav Bar */
.title-bar, .top-bar {
    /*        background-color: #ffd700;*/
    background-color: #ebaf3b;
    color: #11111f;
    letter-spacing: 1px;
}

.top-bar ul {
    background-color: #ebaf3b;
    color: #2b2b2b;
}

.socialMedia a {
    color: #11111f;
    transition: color 0.5s ease;
}

.socialMedia i {
    margin-right: 0;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-top-color: #2b2b2b;
}
.menu a, .dropdown a, .submenu {
    color: #2b2b2b;
    transition: color 0.5s ease;
}
.menu a:hover, .dropdown.menu .is-active > a {
    color: #fff;
/*
    border-bottom: 3px solid #fff;
    text-decoration: none;
*/
/*    border-width: 0;*/
}

#headshot {
    display: block;
    /*    width: 70%;*/
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
    border-radius: 100%;
}

/* Sticky menu settings */
#sticky-boundary {
    /*    background: cyan;*/
}

.sticky-container {
    height: 38px;
    /* prevents jumping on load */
}

.sticky {
    width: 100%;
    /*        background: rgb(255, 142, 142);*/
    margin: 0;
}

.center {
    
/*    width: 50%;*/
}

footer {
/*    position: relative;*/
    padding: 2%;
    left: 0;
    bottom: 0;
    width: 100%;
/*    background-color: #2b2b2b;*/
/*    color: #f2f2f2;*/
    text-align: center;
}
img {
    padding: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.spacer {
    margin: 30px 0;
}
.orbit-previous, .orbit-next {
    color: #2b2b2b;
}
/* Portfolio */
.section {
/*    background-color: #f2f2f2;*/
    padding: 3% 3% 3% 3%;
}

.section h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.heading {
    padding: 3% 3% 0 3%;
}
.heading h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* Resume */
.resumeHeader {
    text-align: center;
    padding-top: 3%;
    margin-bottom: 20px;
}
.resumeHeader h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0;
}
.resumeHeader h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
.resumeSection {
    padding: 3% 3% 0 3%;
}
.resumeSection h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.resumeSection h2 {
    font-weight: 700;
    letter-spacing: 1px;
}

.resumeSection h3 {
    font-weight: 400;
    /*    letter-spacing: 1px;*/
}

.resumePoint {
    margin-bottom: 20px;
}

#skills tbody,
#skills tr,
#skills td {
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

/* skills meter */

.meter {
    height: 14px;
    width: 200px;
    background: #dddddd;
    /*    border-radius: 4px;*/
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
    display: block;
    height: 100%;
    background-color: #ebaf3b;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.meter > span:after,
.animate > span > span {
    animation: move 2s linear infinite;
}
#spotify-scenarios {
    margin: 30px 0 0 0;
}
#spotify-scenarios tbody, #spotify-scenarios thead, #spotify-scenarios th, #spotify-scenarios tr, #spotify-scenarios td {
    border: none;
/*    background-color: rgba(255, 255, 255, 0.3);*/
    vertical-align: middle;
}
#spotify-scenarios td {
    padding: 20px;
}
.top-align {
    vertical-align: top;
}
@media screen and (max-width: 63.9375em) {
  table.stack thead {
    display: block;
    }